.cartContainer{
    border: 1px solid #e3e6f0;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    padding: 15px !important;
}
.viewCartDateText{
    color: #636466;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 500;
}
.setFontCartTable{
    color:black;
    font-size: 14px;
    font-weight: 500;
    font-family:  "Nunito Sans";
}
.totalTextSet{
    color:black;
    font-size: 16px;
    font-weight: 800;
    font-family:  "Nunito Sans";
}
.setBgPrintImg{
    border: 1px solid #e3e6f0;
    background: rgba(250, 251, 253, 1);
    border-radius: 15px;
    cursor: pointer;
}
.submitBtnCart{
    background: #630CDB !important;
    border: none !important;
    padding: 1rem 4rem !important;
}
.notice {
    background-color: transparent;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

.notice h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.strong-text{
   color: red;
}