.logo{
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 800;
    color:rgba(72, 128, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.logo-img{
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
}
a{
    text-decoration: none;
    color: black;
}
.dashboardActive span{
    background-color:  #620cdb;
    padding: 15px 35px 15px 35px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: "Nunito Sans";
    font-weight: 600;
}
.sidebarFonts span{
  font-size: 14px !important;
  font-family: "Nunito Sans" !important;
  font-weight: 600 !important;
  color: black !important;
  padding: 15px 35px 15px 35px !important;
}
.dashboardActive{
    display: flex !important;
    align-items: center !important;
    // gap: 30px;
    justify-content: center;
    gap: 0;
}
.dashboardLeftBoarder{
   border-right: 4px solid #620cdb;
   border-top-right-radius: 8px;
   width: 9px;
   height: 50px;
   border-radius: 8px;
   border-bottom-right-radius: 8px;
   margin-left: -21px;
   position: absolute;
   left: -5px;
   margin: 0 !important;
}
.nav-link{
  position: relative;
}
.pagesFont{
    font-size: 12px;
    font-family: "Nunito Sans";
    font-weight: 700;
}
@media screen and (max-width:767px) {
    .dashboardLeftBoarder{
        display: none;
       margin-left: 0px;
    }
    .dashboardActive span{
        background-color:  #620cdb;
        padding: 10px;
        border-radius: 8px;
        color: white;
    }
}
.salesText span{
    font-size: 14px !important;
    font-family: "Nunito Sans" !important;
    font-weight: 600 !important;
    color: black !important;
}
.profileNameText{
    font-size: 14px !important;
    font-family: "Nunito Sans" !important;
    font-weight: 700 !important;
    color:rgba(64, 64, 64, 1);
    cursor: pointer;
    }
.profileAdminText{
    font-size: 12px !important;
    font-family: "Nunito Sans" !important;
    font-weight: 600 !important;
    color:rgba(86, 86, 86, 1);
    }
    .searchNav{
        border: 0.6px solid rgba(213, 213, 213, 1);
        background: rgba(245, 246, 250, 1);
        border-radius: 19px;
        padding: 6px 10px;
    }
    .inputNav{
        outline: none;
        border: none;
        background: rgba(245, 246, 250, 1);
    }
    .contentTextMain{
        font-size: 32px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
        color:black !important;
    }
    .orderText{
        font-size: 20px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 800 !important;
        color:black !important;
    }
    .setPaddingCard{
        padding: 15px !important;
    }
    .orderNumber{
        font-size: 24px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
        color:black !important;
    }
    .orderFlex{
        display: flex !important;
        flex-direction: column;
        gap:10px !important;
    }
    .borderNone{
        border-radius: 15px;
        border: 1px solid #e3e6f0;
    }
    .setGap{
        gap: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
    }
    .chngeColor span{
        color:rgba(0, 182, 155, 1);
        font-size: 16px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
    }
    .chngeColorRed span{
        color: rgba(249, 60, 101, 1);
        font-size: 16px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
    }
    .chngeColor{
        font-size: 16px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
        color: lightslategrey !important;
        
    }
    .sellingProductsText{
        font-size: 20px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 800 !important;
        color: black  !important;
    }
    .hrColor{
        border-top-color: black !important;
        border-top: 1px solid !important;
        color: black !important;
        opacity: 1;
    }
    .sellingProducts{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .productName{
        display: flex;
        flex-direction: column;
        font-size: 16px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
        color: black !important;
    }
    .productMemory{
        font-size: 14px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
        color: #666666!important;
        
    }
    .productPrice{
        display: flex;
        flex-direction: column;
        font-size: 16px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
        color: black !important;
        align-items: end;
    }
    .productSales{
        font-size: 14px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
        color: #666666!important;
        
    }
    .productsSellingParent{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 15px;
    }
    .setBtnStats{
        font-size: 14px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 700 !important;
        background: #620cdb !important;
        color: white !important;
    }
    .heeaderTableOrder{
        font-size: 20px !important;
        font-family: "Nunito Sans" !important;
        font-weight: 600 !important;
        color: #636466 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headerTableFlex{
        background: rgba(255, 255, 255, 1);
        border-radius: 14px;
    }
    .recent-orders{
      font-size: 20px;
      font-weight: 800;
      color: black;
    }
    .monthNameFilter{
        cursor: pointer;
        border: 0.6px solid rgba(213, 213, 213, 1);
        background: rgba(252, 253, 253, 1);
        border-radius: 8px;
        padding: 8px;
        outline: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .monthNamesInput{
      border: none;
      padding: 0;
      background: rgba(252, 253, 253, 1);
      border: none;
      outline: none;
      font-size: 12px !important;
      font-family: "Nunito Sans" !important;
      font-weight: 600 !important;
      color:  black !important;
      cursor: pointer;
  }
 
  .chart-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #eeeeee;
  }
  .chart-wrap .chart-title {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  .chart-wrap .row {
    position: relative;
    height: 26px;
    margin-bottom: 15px;
  }
  .chart-wrap .bar-wrap {
    position: relative;
    background: rgba(247, 247, 247, 1);
    padding: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .chart-wrap .bar-wrap .bar {
    position: absolute;
    top: 20px;
    left: 0;
    height: 25%;
    background: var(--Colors-Blue, rgba(0, 122, 255, 1));
    transition: all 1s;
    transform: translateX(-100%);
  }
  .chart-wrap .bar-wrap .bar.in {
    transform: translateX(0%);
  }
  .chart-wrap .row:nth-of-type(1) .bar {
    transition: 1s 400ms;
  }
  .chart-wrap .row:nth-of-type(2) .bar {
    transition: 1s 600ms;
  }
  .chart-wrap .row:nth-of-type(3) .bar {
    transition: 1s 800ms;
  }
  .chart-wrap .row:nth-of-type(4) .bar {
    transition: 1s 1000ms;
  }
  .chart-wrap .row:nth-of-type(5) .bar {
    transition: 1s 1200ms;
  }
  .chart-wrap .row:nth-of-type(6) .bar {
    transition: 1s 1400ms;
  }
  .chart-wrap .row:nth-of-type(7) .bar {
    transition: 1s 1600ms;
  }
  .chart-wrap .label {
    position: absolute;
    top: 20px;
    left: 0;
    width: 150px;
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 10;
  }
  .chart-wrap .number {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: right;
    z-index: 10;
  }
  @media screen and (min-width: 800px) {
    .chart-wrap .row {
      padding: 0 40px 0 160px;
    }
    .chart-wrap .label {
      text-align: right;
      padding-left: 0;
    }
    .chart-wrap .number {
      text-align: left;
      padding-right: 0;
    }
  }
.chartName{
    text-align: left !important;
    font-size: 16px !important;
    font-family: "Nunito Sans" !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 1);
}  
// .chartMain{
//     border: none;
//     border-radius: 8px;
// }
.productsHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productText{
  color: rgba(32, 34, 36, 1) !important;
  font-family: "Nunito Sans" !important;
  font-size: 32px !important;
  font-weight: 700 !important;
}
.ProductsSearchFlex{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #595858 !important;
  border-radius: 50px;
  padding: 4px 15px;
  background: transparent;
}
.ProductsSearchInput{
  border: none;
  outline: none;
  width: 80%;
  background: transparent !important;
}

.ProductsSearchInput::placeholder {
  font-size: 13px;
}

/* Apply border-radius only to the top-left, top-right, bottom-left, and bottom-right corners */
.productTable {
  overflow: hidden;
  border-collapse: separate; 
  margin: 0;
}

.productTable thead th:first-child {
  border-top-left-radius: 14px;
}

.productTable thead th:last-child {
  border-top-right-radius: 14px;
}

.productTable tbody tr:last-child td:first-child {
  border-bottom-left-radius: 14px;
}

.productTable tbody tr:last-child td:last-child {
  border-bottom-right-radius: 14px;
}
.productTableRadius{
  border-radius: 14px;
  border: 0.6px solid rgba(213, 213, 213, 1)
}
.productTable thead{
  color: rgba(32, 34, 36, 1) !important;
  font-family: "Nunito Sans" !important;
  font-size: 14px !important;
  font-weight: 700 !important;

}
.productTable tbody{
  color: rgba(32, 34, 36, 1) !important;
  font-family: "Nunito Sans" !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.search-button{
  background-color: transparent;
  border: none;
}
.bckcolor{
  background: rgba(250, 251, 253, 1);
  border: 0.6px solid rgba(213, 213, 213, 1);
}
.borderRight{
  border-right: 0.6px solid rgba(213, 213, 213, 1)

}
.productTable td{
  border-bottom: none !important;
}
.add-btn{
  background-color: #630CDB;
  border: none;
  border-radius: 14px;
  font-family: "Nunito Sans";
  font-weight:600;
  font-size: 0.85rem;
  padding: 5px 10px;
  cursor: pointer;
}
.add-btn a{
  text-decoration: none;
  color:white;
  display:flex;
  align-items: center;
  gap: 2px;
}
.button-class{
  background-color: #4880ff !important;
  font-family: "Nunito Sans" !important;
  font-weight:600 !important;
  font-size: 0.85rem !important;
  color:white !important;
  box-shadow: none !important;
  border: none !important;
}
.chart-container {
  width: 100%;
  // padding: 10px 100px;
  margin-top: 40px;
}

.chart-title {
  font-size: 20px !important;
  font-family: "Nunito Sans" !important;
  font-weight: 800 !important;
  color:black !important;
  text-align: left;
  border-bottom: 1px solid black;
  padding: 0 0 10px 0;
}

.bar {
  display: flex;
  align-items: center;
  margin-bottom: 22px !important;
  gap: 25px;
}

.label {
  width: 160px;
  text-align: end;
  font-size: 0.9rem !important;
  font-family: "Nunito Sans" !important;
  font-weight: 700 !important;
  color: black;
}

.bar-container {
  flex: 1;
  height: 35px;
  background-color: #e0e0e0;
  border-radius: 0 12px 12px 0;
  overflow: hidden;
  position: relative;
}

.bar-fill {
  height: 100%;
  background-color: #620cdb;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family:  "Nunito Sans";
  padding-right: 5px;
  border-radius: 0px 12px 12px 0px;
  animation: grow 1.5s forwards;
}

@keyframes grow {
  from {
    width: 0;
  }
}


.axis {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  font-family:  "Nunito Sans" ;
  color:rgba(170, 170, 170, 1);
  margin-left: 140px;
}
.setRecentOrderTble{
  margin-top: 25px;
}
.setRecentOrderTble thead th{
  border: none;
  color:black;
  font-size: 14px;
  font-weight: 800;
  font-family:  "Nunito Sans";
  text-align: center;
}
.setRecentOrderTble td, .setRecentOrderTble th{
  border: none;
}
.setBorderBottomTr{
  border-bottom: 0.4px solid rgba(151, 151, 151, 1)
}
.tHeadBgColor{
  background: rgba(241, 244, 249, 1);
}
.setRecentOrderTble thead th:first-child{
  border-radius: 10px 0 0 10px;
}
.setRecentOrderTble thead th:last-child{
  border-radius: 0 10px 10px 0;
}
  .setFontOrderTable{
      color:#4d4e50;
      font-size: 14px;
      font-weight: 700;
      font-family:  "Nunito Sans";
  }
.setBorderBottomTr td{
  padding: 25px 0px;
  text-align: center;
}

@media screen and (max-width:767px) {
  .headerTableFlex {
     overflow: scroll hidden;
     width: 100%;
    }
}
@media screen and (max-width:850px) {
  .headerTableFlex {
     overflow: scroll hidden;
     width: 100%;
    }
    .heeaderTableOrder{
      font-size: 18px !important;
      font-weight: 600 !important;
  }
  .table td, .table th {
      padding: .45rem !important;
  }
  .setRecentOrderTble thead th {
      font-size: 12px !important;
  }
  .setFontOrderTable{
      font-size: 12px !important;
  }
  .chart-title{
      margin: 0 !important;
  }
  .chart-container {
      padding: 10px;
      margin-top: 10px;
    }
}
.orderChartBg{
  background-color: white !important;
  border-radius: 15px;
  height: 22.75rem;
}
.setRecentOrderTble td, .setRecentOrderTble th{
  border: none;
}
.setOverFlowDashBoard{
  height: 14rem;
  overflow: auto;
  padding: 0 15px !important;
}

@media screen and (max-width:577px) {
  .row{
    margin: 0;
  }
}
.pdngChartTotal{
  padding-left: 0.70rem;
}
.setHeightBars{
  height: 18rem;
}
.AdminsetHeightBars{
  height: 13rem;

}
@media screen and (max-width:850px) {
  .AdminsetHeightBars{
    height: 15rem;
  }
}
.blink-badge {
  position: absolute;
  top: -21px;
  left: 60px;
  background-color: #007aff;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  z-index: 10;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.new-badge {
  position: relative; /* Needed to position the badge inside the row */
}
.badge{
  cursor: pointer;
}
.opacity{
  opacity: 0.3;
  cursor:  not-allowed !important;
}

.circle-container {
  display: flex
    ;
  gap: 5px;
  background: rgba(255, 255, 255, 0.1);
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.animated-circle {
  width: 10px;
  height: 10px;
  background: #4880ff;      
  display: inline-flex;
}

.animated-circle.one {
  animation: bounce-one 1.5s ease-in-out infinite;
}

.animated-circle.two {
  animation: bounce-two 1.5s ease-in-out infinite;
}

.animated-circle.three {
  animation: bounce-three 1.5s ease-in-out infinite;
}

@keyframes bounce-one {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes bounce-two {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce-three {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-25px);
  }
}

@media screen and (max-width:1690px) {
 
  .mobile-table-bids{
    width: 250vh;
  }
}
.text-wrap-class{
  flex-direction: column;
}