.landingPageContainer {
    gap: 0 10px;
}

.brandNameHeight {
    border: 1px solid #e3e6f0;
    box-shadow: 0px 8px 10px 0px #0000001A;
    background: #FFFFFF;
    width: 100%;
    height: 45vh;
    padding: 15px 8px 8px 8px;
    border-radius: 15px;
}

.brandNameScroll {
    overflow: auto;
    padding-left: 10px;
}

.brandNameScroll::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.brandNameScroll::-webkit-scrollbar-button {
    background-color: transparent;
}

.brandNameScroll::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
}

.brandNameScroll::-webkit-scrollbar-track {
    background-color: transparent;
}



.brandActive, .productActive, .categoryActive {
    background-color:#620cdb !important;
    color: white !important;
}


.brandLanding, .productLanding, .categoryLanding {
    border: 1px solid #e3e6f0;
    color: black;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    border-radius: 8px;
    padding: 15px;
    margin-right: 10px;
    cursor: pointer;
}



.newCategory {
    background-color: #620cdb;
    color: white;
    font-family: "Nunito Sans";
    font-size: 10px;
    font-weight: 700;
    border: 0.5px solid #e3e6f0;
    padding: 0px 8px;
    position: absolute;
    top: 3px;
    left: -8px;
}

.newCategoryPosition {
    position: relative;
}

.productNameLanding {
    border: 1px solid #e3e6f0;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
}

.productNameHeading {
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: black;
}
.productNameStockFnt{
    font-family: "Nunito Sans";
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: black;
}
.brandNameLanding{
    font-family: "Nunito Sans";
    font-size:20px;
    font-weight:500;
    color: #636466;
}