.bgImgLogin{
    background-image: url(asset-path("bg.png")) !important;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.bgChangeRegister{
    background-color: rgba(72, 128, 255, 1)
    !important;
}
.textRegisterAccount{
    color: rgba(32, 34, 36, 1) !important;
    font-family: "Nunito Sans" !important;
    font-size: 32px !important;
    font-weight: 700 !important;
}
.descRegist{
    color: rgba(32, 34, 36, 1) !important;
    font-family: "Nunito Sans" !important;
    font-size: 18px !important ;
    font-weight: 600 !important;
}
.firstNameRegist{
    color: rgba(32, 34, 36, 1) !important;
    font-family: "Nunito Sans" !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.firstNameRegistInput{
    padding: 25px 15px !important;
    font-family: "Nunito Sans" !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.registerFormPadding{
    padding: 30px 80px;
}
.approvalbtnColor{
    font-family: "Nunito Sans" !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    color:rgba(255, 255, 255, 1) !important;
    border: none !important;
    background: rgba(72, 128, 255, 1) !important;
    border-radius: 12px !important;
    width: 50%;
}
.container{
    min-height: 100vh;
}
.inputsMargin{
    margin-bottom: 1rem !important;
}
@media screen and (max-width:770px) {
    .textRegisterAccount{
        font-size: 20px !important;
    }
    .descRegist{
        font-size: 12px !important ;
    }
    .firstNameRegist{
        font-size: 14px !important;
    }
    .firstNameRegistInput{
        padding: 20px 10px !important;
        font-size: 12px !important;
    }
    .registerFormPadding{
        padding: 20px;
    }
    .approvalbtnColor{
        font-size: 14px !important;
        width: 100% !important;
    }
    .container{
        margin: 30px 0px !important;
    }
    .inputsMargin{
        margin-bottom: 5px !important;
    }
}
.s-p{
    padding: 15px 5px;
    font-family: "Nunito Sans" !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    border: 1px solid #d1d3e2;
    color: #6e707e;
}